
    <div class="jumbotron">
			<div class = "container">
				<h1 class ="display-4">Compound Management</h1>
			</div>
        </div>
    </div>

    <div class="container">
        <div class = "row">
            <div class="col-6 mx-auto mt-1">
                <div class = "card border-dark">
                    <img class = "card-img-top" src="Images/chemicals.jpg" id = "chemicalPicture">
                    <div class="card-body">
                        <p class="card-text">Chemical</p>
                    </div>
                </div>
            </div>
        </div>
        </br>
        <div class="row">
            <div class="col-6 mx-auto mt-1">
                <div class = "card border-dark">
                    <img class = "card-img-top" src="Images/container.jpg" id = "containerPicture">
                    <div class="card-body">
                        <p class="card-text">Container</p>
                    </div>
                </div>
            </div>
            <div class="col-6 mx-auto mt-1">
                <div class = "card border-dark">
                    <img class = "card-img-top" src="Images/containerTypes.jpg" id = "containerTypePicture">
                    <div class="card-body">
                        <p class="card-text">Container Type</p>
                    </div>
                </div>
            </div>
        </div>
        </br>
        <div class = "row">
            <div class="col-6 mx-auto mt-1">
                <div class = "card border-dark">
                    <img class = "card-img-top" src="Images/rack.PNG" id = "rackPicture">
                    <div class="card-body">
                        <p class="card-text">Rack</p>
                    </div>
                </div>
            </div>
            <div class="col-6 mx-auto mt-1">
                <div class = "card border-dark">
                    <img class = "card-img-top" src="Images/rackType.jpg" id = "rackTypePicture">
                    <div class="card-body">
                        <p class="card-text">Rack Type</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </br>
    </br>
